extends layout

block content
  script(src='/javascripts/analysis.js')
  h1= title
  section#collection
    if plants != 0
      ul#collection_selector(name='plant-for-analysis')
        each plant in plants
          li(class='plant-list-item', value=plant.plant_id) 
            a(href='') #{plant.name}
            img(src="https://cdn.iconscout.com/icon/premium/png-256-thumb/trash-1739005-1477127.png" class='delete-icon')
    else
      p(class='no-plants-msg') There are no plants in your collection.
  section#notifications-analysis
  section#analysis_container
    section#analysis_graph
    section#sighting_buttons