extends session_layout

block content
  script(src='/javascripts/analysis.js')
  section(class='hero is-medium has-wood-image')
    div(class='hero-body')
      div(class='columns is-multiline')
        div(class='column is-4 is-offset-2')
          div(class='content')
            h1(class='is-medium has-text-centered') Plant Collection
          div(class='box' style='height: 220px; overflow: auto;')
            section#collection
              if plants != 0
                div(class='list is-hoverable')
                  each plant in plants
                    a(href='#' class='list-item' data-value=plant.plant_id) #{plant.name}
              else
                div(class='box')
                  p(class='is-medium') There are no plants in your collection.
        div(class='column is-4')
          div(class='content')
            h1(class='is-medium has-text-centered', style='text-shadow: 1px 1px white;') Actions
          div(class='box')
            div(class='field')
              div(class='control')
                div(class='has-text-centered' style='padding-top: 5px;')
                  button#add_viewer_btn(class='button' type='click') Add Sighting
              div(class='control')
                div(class='has-text-centered' style='padding-top: 5px;')
                  button#view_sightings_btn(class='button' type='click') View Sightings  
              div(class='control')
                div(class='has-text-centered' style='padding-top: 5px;')
                  button#view_notes_btn(class='button' type='click') View Field Notes  
              div(class='control')
                div(class='has-text-centered' style='padding-top: 5px;')
                  button#deleter_btn(class='button', type='click') Delete Plant
        div(class='column is-4 is-offset-2')
          section#analysis_graph(class='box')   
        div(class='column is-4')
          section#details_info(class='box')
            p(class='is-medium has-text-centered') Specific information relating to a plant will populate here.
        if type == 'success'
          div(class='notification is-success is-light')
            p(class='is-medium has-text-centered') #{alert}
        else if type == 'error'
          div(class='notification is-danger is-light')
            p(class='is-medium has-text-centered') #{alert}
