extends layout

block content
  section(class='hero is-large has-wood-image')
    div(class='hero-body')
      div(class='container')  
        div(class='content')
          div(class='box')
            div(class='notification has-background-white is-medium')
              h1(class='is-medium has-text-centered') Welcome to #{title}.
              p(class='is-medium') #[em Botanist] is an application for professional Botanists, gardeners, and plant-enthusiasts. 
              p(class='is-medium') One can search among our database of over #[strong 300,000] plants to find a particular variety they are looking for. Then, using our in-depth analysis tool, one can peruse the growth, maintenance, and product attributes of a given plant.
              p(class='is-medium') Finally, one can report sightings of any plant species and map them on #[em MapQuest], hosted right here on this application, in addition to generating the map and directions for reaching a sighting from any known location.
              div(class='has-text-centered')
                a(href='/register' class='is-medium has-text-success ') Register today. 

