doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js")
    link(type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css")
  body
    block content
