extends layout

block content
  script(src='/javascripts/plant_search.js')
  div#fullscreen_container(hidden)
    div(class='columns is-centered')
      div(class='column is-one-quarter')
        div(class='box' style='margin-top: 200px;')
          div(class='content')
            p(class='is-medium has-text-centered') Add this plant to your collection?
            div(class='field is-grouped is-grouped-centered')
              p(class='control')
                button#yesser(class='button is-success is-outlined', type='click') Yes
              p(class='control')
                button#noer(class='button is-danger is-outlined' type='click') No
  section(class='hero is-medium has-wood-image')
    div(class='hero-body')
      div#search_columns(class='columns is-multiline')
        div(class='column is-3 is-offset-1')
          div(class='box has-text-centered')
            button(class='button is-medium' type='click' style='border: none;')
              span(class='icon is-medium')
                i(class='fas fa-angle-double-down')
            div(class='content' hidden)
              div(class='field')
                label(for='common_name' class='label') Common Name
                div(class='control has-icons-left')
                  input(type='text' name='common_name' class='input' maxlength='20' title='Type this in lowercase.')
                  span(class='icon is-small is-left')
                    i(class='fas fa-font') 
              div(class='field')
                label(for='scientific_name' class='label') Scientific Name
                div(class='control has-icons-left')
                  input(type='text' name='scientific_name' class='input' maxlength='25' title='Type this like actual Scientific Names are spelled.')
                  span(class='icon is-small is-left')
                    i(class='fas fa-font')
              div(class='field')
                label(for='resprout_ability' class='label') Self-Resprouting
                label(class='radio')
                  input(name='resprout_ability' type='radio' value='true')
                  | Yes
                label(class='radio')
                  input(name='resprout_ability' type='radio' value='false')
                  | No
              div(class='field')
                label(for='fruit_conspicuous' class='label') Fruit-Bearing
                label(class='radio')
                  input(name='fruit_conspicuous' type='radio' value='true')
                  | Yes
                label(class='radio')
                  input(name='fruit_conspicuous' type='radio' value='false')
                  | No
              div(class='field')
                label(for='flower_conspicuous' class='label') Flower-Bearing
                label(class='radio')
                  input(name='flower_conspicuous' type='radio' value='true')
                  | Yes
                label(class='radio')
                  input(name='flower_conspicuous' type='radio' value='false')
                  | No
        div(class='column is-3')
          div(class='box has-text-centered')
            button(class='button is-medium' type='click' style='border: none;')
              span(class='icon is-medium')
                i(class='fas fa-angle-double-down')
            div(class='content' hidden)
              div(class='field')
                label(for='precipitation_minimum' class='label') Precipitation Minimum
                div(class='control has-icons-left')
                  input(type='number' name='precipitation_minimum' class='input' max='300' min='0')
                  span(class='icon is-small is-left')
                    i(class='fas fa-calculator')
              div(class='field')
                label(for='growth_rate' class='label') Growth Rate
                label(class='radio')
                  input(name='growth_rate' type='radio' value='Rapid')
                  | Rapid
                label(class='radio')
                  input(name='growth_rate' type='radio' value='Moderate')
                  | Moderate
                label(class='radio')
                  input(name='growth_rate' type='radio' value='Slow')
                  | Slow
              div(class='field')
                label(for='bloom_period' class='label') Bloom Period
                label(class='radio')
                  input(name='bloom_period' type='radio' value='Spring')
                  | Spring
                label(class='radio')
                  input(name='bloom_period' type='radio' value='Summer')
                  | Summer
                label(class='radio')
                  input(name='bloom_period' type='radio' value='Fall')
                  | Fall
                label(class='radio')
                  input(name='bloom_period' type='radio' value='Winter')
                  | Winter
              div(class='field')
                label(for='active_growth_period' class='label') Active Growth Period
                label(class='radio')
                  input(name='active_growth_period' type='radio' value='Spring')
                  | Spring
                label(class='radio')
                  input(name='active_growth_period' type='radio' value='Summer')
                  | Summer
                label(class='radio')
                  input(name='active_growth_period' type='radio' value='Fall')
                  | Fall
                label(class='radio')
                  input(name='active_growth_period' type='radio' value='Winter')
                  | Winter
              div(class='field')
                label(for='shade_tolerance' class='label') Shade Tolerance
                label(class='radio')
                  input(name='shade_tolerance' type='radio' value='Tolerant')
                  | Tolerant
                label(class='radio')
                  input(name='shade_tolerance' type='radio' value='Intermediate')
                  | Intermediate
                label(class='radio')
                  input(name='shade_tolerance' type='radio' value='Intolerant')
                  | Intolerant
              div(class='field')
                label(for='drought_tolerance' class='label') Drought Tolerance
                label(class='radio')
                  input(name='drought_tolerance' type='radio' value='High')
                  | Tolerant
                label(class='radio')
                  input(name='drought_tolerance' type='radio' value='Medium')
                  | Intermediate
                label(class='radio')
                  input(name='drought_tolerance' type='radio' value='Low')
                  | Intolerant
        div(class='column is-3')
          div(class='box has-text-centered')
            button(class='button is-medium' type='click' style='border: none;')
              span(class='icon is-medium')
                i(class='fas fa-angle-double-down')
            div(class='content' hidden)
              div(class='field')
                label(for='fruit_seed_color' class='label') Fruit/Seed Color
                div(class='control has-icons-left')
                  input(type='text' name='fruit_seed_color' class='input' maxlength='15')
                  span(class='icon is-small is-left')
                    i(class='fas fa-font')
              div(class='field')
                label(for='moisture_use' class='label') Moisture Use
                label(class='radio')
                  input(name='moisture_use' type='radio' value='High')
                  | High
                label(class='radio')
                  input(name='moisture_use' type='radio' value='Medium')
                  | Medium
                label(class='radio')
                  input(name='moisture_use' type='radio' value='Low')
                  | Low
              div(class='field')
                label(for='protein_potential' class='label') Protein Potential
                label(class='radio')
                  input(name='protein_potential' type='radio' value='High')
                  | High
                label(class='radio')
                  input(name='protein_potential' type='radio' value='Medium')
                  | Medium
                label(class='radio')
                  input(name='protein_potential' type='radio' value='Low')
                  | Low
              div(class='field')
                label(for='fruit_seed_abundance' class='label') Fruit Seed Abundance
                label(class='radio')
                  input(name='fruit_seed_abundance' type='radio' value='High')
                  | High
                label(class='radio')
                  input(name='fruit_seed_abundance' type='radio' value='Medium')
                  | Medium
                label(class='radio')
                  input(name='fruit_seed_abundance' type='radio' value='Low')
                  | Low
              div(class='field')
                label(for='palatable_human' class='label') Human Edible
                label(class='radio')
                  input(name='palatable_human' type='radio' value='true')
                  | Yes
                label(class='radio')
                  input(name='palatable_human' type='radio' value='false')
                  | No 
        div(class='column is-1')
          div(class='box has-text-centered')
            button#searcher(class='button is-medium' type='click' style='border: none;' title='Search Plants')
              span(class='icon is-medium')
                i(class='fas fa-search')
        div(class='column is-6 is-offset-1')
          div#result_list(class='box')
            div(class='content')
              p(class='notification is-medium has-background-light has-text-centered') Results from the plant search will populate here.
        div(class='column is-3')
          div#notifications(class='box')
            div(class='content')
              p(class='notification is-medium has-background-light has-text-centered') Any pressing notifications will be shown here.
        div(class='column is-1')
          div#pagination(class='box has-text-centered')
            p(class='notification is-medium has-text-centered') No pages.
