extends layout

block content
  script(src='/javascripts/plant_search.js')
  h1= title
  form#filter_form(method='', action='')
    fieldset#general_info
      label(for='common_name', class='label-heading') Common Name
      input#common_name(name='common_name', type='text', maxlength='20')
      label(for='resprout_ability', class='label-heading') Self-Resprouting
      div(class='form-radio-div')
        input#yes_resprout_ability(name='resprout_ability', type='radio', value='Yes')
        label(for='yes_resprout_ability', class='radio-label') Yes
        input#no_resprout_ability(name='resprout_ability', type='radio', value='No')
        label(for='yes_resprout_ability' class='radio-label') No
      label(for='fruit_conspicuous', class='label-heading') Fruit-Bearing
      div(class='form-radio-div')
        input(name='fruit_conspicuous', type='radio', value='Yes')
        label(for='fruit_conspicuous', class='radio-label') Yes
        input(name='fruit_conspicuous', type='radio', value='No')
        label(for='fruit_conspicuous', class='radio-label') No
      label(for='flower_conspicuous', class='label-heading') Visible Flowers
      div(class='form-radio-div')
        input(name='flower_conspicuous', type='radio', value='Yes')
        label(for='flower_conspicuous', class='radio-label') Yes
        input(name='flower_conspicuous', type='radio', value='No')
        label(for='flower_conspicuous', class='radio-label') No
    fieldset#growing_conditions
      label(for='precipitation_minimum', class='label-heading') Precipitation Minimum
      input#precipitation_minimum(name='precipitation_minimum', type='number', max='100', min='0')
      label(for='temperature_minimum', class='label-heading') Temperature Minimum
      input#temperature_minimum(name='temperature_minimum', type='number', max='200', min='0')
      label(for='growth_rate', class='label-heading') Growth Rate
      div(class='form-radio-div')
        input(name='growth_rate', type='radio', value='Rapid')
        label(for='growth_rate', class='radio-label') Rapid
        input(name='growth_rate', type='radio', value='Moderate')
        label(for='growth_rate' class='radio-label') Moderate
        input(name='growth_rate', type='radio', value='Slow')
        label(for='growth_rate' class='radio-label') Slow
      label(for='bloom_period', class='label-heading') Bloom Period
      div(class='form-radio-div')
        input(name='bloom_period', type='radio', value='Spring')
        label(for='bloom_period', class='radio-label') Spring
        input(name='bloom_period', type='radio', value='Summer')
        label(for='bloom_period', class='radio-label') Summer
        input(name='bloom_period', type='radio', value='Fall')
        label(for='bloom_period', class='radio-label') Fall
        input(name='bloom_period', type='radio', value='Winter')
        label(for='bloom_period', class='radio-label') Winter
      label(for='active_growth_period', class='label-heading') Active Growth Period
      div(class='form-radio-div')
        input(name='active_growth_period', type='radio', value='Spring')
        label(for='active_growth_period', class='radio-label') Spring
        input(name='active_growth_period', type='radio', value='Summer')
        label(for='active_growth_period', class='radio-label') Summer
        input(name='active_growth_period', type='radio', value='Fall')
        label(for='active_growth_period', class='radio-label') Fall
        input(name='active_growth_period', type='radio', value='Winter')
        label(for='active_growth_period', class='radio-label') Winter
      label(for='shade_tolerance', class='label-heading') Shade Tolerance
      div(class='form-radio-div')
        input(name='shade_tolerance', type='radio', value='Intolerant')
        label(class='radio-label') Intolerant
        input(name='shade_tolerance', type='radio', value='Intermediate')
        label(class='radio-label') Intermediate
        input(name='shade_tolerance', type='radio', value='Tolerant')
        label(class='radio-label') Tolerant  
      label(for='drought_tolerance', class='label-heading') Drought Tolerance
      div(class='form-radio-div')
        input(name='drought_tolerance', type='radio', value='Low')
        label(class='radio-label') Low
        input(name='drought_tolerance', type='radio', value='Medium')
        label(class='radio-label') Medium
        input(name='drought_tolerance', type='radio', value='High')
        label(class='radio-label') High
      label(for='moisture_use', class='label-heading') Moisture Use
      div(class='form-radio-div')
        input(name='moisture_use', type='radio', value='Low')
        label(class='radio-label') Low
        input(name='moisture_use', type='radio', value='Medium')
        label(class='radio-label') Medium
        input(name='moisture_use', type='radio', value='High')
        label(class='radio-label') High
    fieldset#products
      label(class='label-heading') Protein Potential
      div(class='form-radio-div')
        input(name='protein_potential', type='radio', value='Low')
        label(class='radio-label') Low
        input(name='protein_potential', type='radio', value='Medium')
        label(class='radio-label') Medium
        input(name='protein_potential', type='radio', value='High')
        label(class='radio-label') High  
      label(class='label-heading') Fuelwood
      div(class='form-radio-div')
        input(name='fuelwood_product', type='radio', value='Yes')
        label(class='radio-label') Yes
        input(name='fuelwood_product', type='radio', value='No')
        label(class='radio-label') No
      label(class='label-heading') Human-Edible
      div(class='form-radio-div')
        input(name='palatable_human', type='radio', value='Yes')
        label(class='radio-label') Yes
        input(name='palatable_human', type='radio', value='No')
        label(class='radio-label') No
      label(class='label-heading', for='fruit_seed_color') Fruit/Seed Color
      input(name='fruit_seed_color', type='text', maxlength='15')
      label(class='label-heading') Fruit/Seed Abundance
      div(class='form-radio-div')
        input(name='fruit_seed_abundance', type='radio', value='Low')
        label(class='radio-label') Low
        input(name='fruit_seed_abundance', type='radio', value='Medium')
        label(class='radio-label') Medium
        input(name='fruit_seed_abundance', type='radio', value='High')
        label(class='radio-label') High  
    button#plant-form-btn(type='submit') Search
