extends layout

block content
  script(src='/javascripts/password_reset.js')
  h1= title

  div#request_key_form_container
    form#request_form(method='POST' action='/passwordreset/send_key')
      label(for='email') Email
      input#email(type='email', name='email', required)
      button(type='submit') Get Password Reset Key
  div#reset_form_container(hidden)
    form#reset_form(method='POST' action='/passwordreset/update_pw')
      p If your request is successful, you will be redirected to the login page.
      label(for='email_two') Email
      input#email_two(type='email', name='email_two')
      label(for='key') Key
      input#key(type='text', name='key')
      label(for='password') New Password 
      span.pw-info (At least 8 characters, 1 symbol, 1 number)
      input#password(type='password', name='password')
      label(for='password_conf') Password Confirmation
      input#password_conf(type='password', name='password_conf')
      button(type='submit') Reset Password
  a#change_option(href='') Already have key?
  
  if alert
    p(class='alert') #{alert}