extends layout

block content
  if alert
    p(class='alert') #{alert}
  h1= title
  h2 User Information
  ul
    li= userInfo.name
    li= userInfo.email
  form#logout(method='POST', action='/logout')
    button#logout(type='submit') Logout