body {
  box-sizing: border-box;
}

.has-wood-image {
  width: 100%;
  background-image: url('../images/woodlandtrees.jpg');
  background-size: cover;
}
/* overall */

.alert {
  padding: 10px;
  background-color: #aaf0d1;
  box-shadow: 1px 2px black;
  border-radius: 2px;
}

.has-image-centered {
  margin-right: 0;
  margin-left: 0;
}

/* plant search form style */

#fullscreen_container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.5);
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.single-plant-details {
  width: 400px;
  height: auto;
  background-color: cyan;
  box-shadow: 1px 2px black;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

input[type='radio'], .radio-label {
  display: inline-block;
  margin: 10px 15px 0 0;
}

/* view plant sighting */

#map {
  display: block;
  margin: 0 auto;
  width: 98%;
  height: 550px;
  border-radius: 10px;
}

textarea[name="description"] {
  resize: none;
}

/* get map directions page */

#directions_btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#directions_hover {
  position: fixed;
  right: 100px;
  bottom: -15px;
}

#directions_form {
  margin-top: 300px;
}

#add_form, #update_form, #delete_form {
  margin-top: 200px;
}

#picture img {
  width: 99%;
  height: auto;
}

@media (max-width: 900px) {
  #map {
    width: 98%;
    height: 227px;
  }

  #world-map {
    color: white;
  }

  #directions_form {
    margin-top: 100px;
  }

  #directions_hover {
    display: none;
  }

  #add_form, #update_form, #delete_form {
    margin-top: 30px;
  }
}