body {
  padding: 50px;
  font: 14px monospace, Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
  margin: 10px 0;
}

input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  font-size: 1.2rem;
}

button {
  margin: 10px 0;
  font-size: 1.1rem;
  display: block;
}

label {
  font-size: 1rem;
}

.pw-info {
  font-size: .8rem;
}

#change_option {
  display: block;
  padding: 20px 0;
}

input[type='radio'], .radio-label {
  display: inline-block;
  margin: 10px 15px 0 0;
}

.form-radio-div {
  margin-bottom: 15px;
}

.label-heading {
  font-weight: bold;
  margin: 15px 0;
}

.toggle-info-btn {
  display: block;
}

.plant-list-element {
  margin: 10px;
}

.more-info-btn {
  cursor: pointer;
}